:root {
    --light-color: #f8f8f8;
    --dark-color: rgb(24, 23, 23);
    --green: rgb(30, 56, 30);
}

body, html {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--light-color);
    background-size: cover;
    /* padding-left: 5%;
    padding-right: 5%; */
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

h1 {
    font-size: 4vw;
    color: var(--green);
}

p {
    font-size: 1.5vw;
    color: var(--dark-color);
}

.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--green);
}

.main {
    grid-area: main;
    overflow: auto;
    padding: calc(8px + 1.5625vw);
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr minmax(0, 1000px) 1fr;
}

.content-image {
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.image {
    /* grid-area: image; */
}

img {
    max-width: 600px;
    width: 100%;
    height: auto;
    justify-self: flex-end;
}

.footer {
    grid-area: footer;
}

#logo {
    font-family: 'Marhey', cursive;
    background-color: var(--green);
    color: var(--light-color);
    letter-spacing: 0em;
}